article, aside, dialog, figure, footer, header,
hgroup, nav, section {
 display:block;
}
body {
 margin:0 auto;
 line-height:1.5;
 max-width:900px;
 font-size:100%;
 font-family:Helvetica,Arial,Tahoma,sans-serif;
 padding:0 0.5em;
}
article {
 margin:0;
}
section,header,footer {
 margin:0.5em 0;
}
section.post {
 border-top:2px solid #d92231;
}
section.highlight {
 background-color:#0d2d6c;
 color:#fff;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}
section.highlight p {
 margin:0;
 padding:0.5em;
}
a {
 color:#1d337d;
}
a.feed {
 background:url(/images/feed-icon-14x14.png) right center no-repeat;
 padding-right:20px;
 display:inline-block;  
}
footer {
 border-top:2px solid #1d337d;
 font-size:81%;
}
p {
 margin:1em 0;
}
p.time {
 margin-top:0;
}
p.time time {
 display:inline-block;
 background-color:#ddd;
 padding:0 0.5em;
}
h1,h2 {
 font-family:Georgia,"Times New Roman",Times,serif;
 font-weight:normal;
}
h1 {
 margin-top:0;
 border-top:2px solid #1d337d;
 background: url(../images/logo.png) right center no-repeat;
 min-height:60px;
 padding-right:50px;
}
h2 {
 margin-bottom:0;
}
pre {
 display:block;
 font-size:small;
}
pre code {
 font-size:100%;
}
code {
 font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
 font-size:81%;
 color: #52595D;
 border: 1px solid #CCC;
 background-color: #F9F9F9;
 padding: 0px 3px;
 display: inline-block;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
}
del {
 display:none;
}
img {
 max-width:99%;
 height:auto;
 padding:1px;
 border:1px solid #ccc;
}
nav ul {
 list-style: none;
 padding:0; margin:0;
}
nav li {
 display: inline-block;
 padding:0; margin:0;
 border-bottom:5px solid #1d337d;
 margin-right:1em;
}
nav a {
 display:block;
 padding:1em 0.5em 0.5em 0.5em;
 text-decoration: none;
 border-bottom:5px solid transparent;
}
nav a:hover, nav a.current {
 border-bottom:5px solid #1d337d;
}