article, aside, dialog, figure, footer, header,
hgroup, nav, section {
 display:block;
}
body {
 margin:0 auto;
 line-height:1.5;
 max-width:900px;
 font-size:100%;
 font-family:Helvetica,Arial,Tahoma,sans-serif;
 padding:0 0.5em;
}
article,section,header,footer {
 margin:0.5em 0;
}
footer {
 border-top:1px solid;
 font-size:81%;
}
p {
 margin:1em 0;
}
h1,h2 {
 font-family:Georgia,"Times New Roman",Times,serif;
 font-weight:normal;
}
h1 {
 border-bottom:2px solid #333;
}
h2 {
 margin-bottom:0;
}
pre {
 display:block;
 font-size:small;
}
pre code {
 font-size:100%;
}
code {
 font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
 font-size:81%;
 color: #52595D;
 border: 1px solid #CCC;
 background-color: #F9F9F9;
 padding: 0px 3px;
 display: inline-block;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 -moz-background-clip: padding;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
}
.highlight { 
 color:#00529B; 
 border-top:1px solid; 
 border-bottom:1px solid; 
 background-color:#BDE5F8;
}
del {
 display:none;
}
img {
 max-width:99%;
 height:auto;
 padding:1px;
 border:1px solid #ccc;
}