---
---

/****
* Default variable file
*
* This is a place for you to dump all the variables for modules that you have
* included as part of your project. It helps keep them all together and allows
* you to easily overide the defaults that are included at the top of each module.
*
* Modules contain defaults to help build the project straight away, but you can
* change these to values which are more suited for you needs here. This file
* should be the first thing to load in during the build in the beryllium.scss
* file.
*
*****/


/* FONTS */
/* sizes in px, but no need to put the px, these are converted to em */
$base-font-size:        16!default;
$base-line-height:      24!default;

$font-url:              "/fonts"!default;

/* HEADINGS */
/* sizes in px, but no need to put the px, these are converted to em */
$h1-size:               36!default; // .h1
$h2-size:               30!default; // .h2
$h3-size:               24!default; // .h3
$h4-size:               20!default; // .h4
$h5-size:               16!default; // .h5
$h6-size:               14!default; // .h6
$heading-font:          'SkyRegular', Arial, sans-serif!default;


/* GRIDS */
$grid-prefix:          "grid-"!default;

/* sizes in px, but no need to put the px, these are converted into rem
* default breakpoints, s = small (mobile), m = medium (tablet), l = large (desk),
* xl = xtra large (desk-wide)
* site with limit creates the max-width class to limit width of content */
$s-start-breakpoint:    400!default;
$m-breakpoint:          800!default;
$l-breakpoint:          1000!default;
$xl-breakpoint:         1200!default;
$site-width-limit:      1400!default;

/* COLOURS */
$color-default: #0d2d6a; // dark blue
$color-primary: #faca2c; // yellow
$color-secondary: #1446a5; // blue
$color-highlight: #d3d3d3; // light grey
$color-light: #ebebeb; // very light grey
$color-dark: #09204c; // darker blue
$color-whtrans: rgba(255,255,255,.5);

/* FOOTER */
$footer-logo-height:     32px !default;
$footer-text-colour:     #ffffff !default;
$footer-background:      #222222 !default;

@import "mixins";
@import "normalize";
@import "reset";
@import "grids";
@import "spacing";
@import "syntax";
@import "font-sizes";
@import "fonts";
@import "helper";

@import "page";
@import "header";
@import "home";
@import "buttons";
@import "forms";
