<section class="author">
    {% if author.image %}
      {% if include.link %}<a href="{{ author.url }}">{% endif %}
        <img class="author--image" src="/images/authors/{{ author.image }}" alt="{{ author.name }}">
      {% if include.link %}</a>{% endif %}
    {% endif %}

    <header>
        <h1>{% if include.link %}<a href="{{ author.url }}">{% endif %}
            {{ author.name }}
        {% if include.link %}</a>{% endif %}</h1>
        <h4>{{ author.role }}{% if author.tribe %} · {{ author.tribe }} Tribe{% endif %}</h4>

        {% if author.startDate %}
        {% assign start = author.startDate | prepend: "01-01-" | slice: -10,10 | date: '%Y' %}
        {% if author.endDate %}
        {% assign end = author.endDate | prepend: "01-01-" | slice: -10,10 | date: '%Y' %}
        <h4>Worked at Sky Betting &amp; Gaming {{ start }}{% unless start == end %}&ndash;{{ end }}{% endunless %}</h4>
        {% else %}
        <h4>Working at Sky Betting &amp; Gaming since {{ author.startDate | date: '%Y' }}</h4>
        {% endif %}
        {% endif %}

        {% if include.bio %}
        <p class="bio">{{ author.bio }}</p>

        {% if author.interests %}
        <ul class="author--interests fa fa-heart">
            {% assign interests=author.interests | split:"," %}
            {% for interest in interests %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if author.twitter or author.github %}
        <ul class="author--rels">
            {% if author.twitter %}<li class="fa fa-twitter"><a class="author--rels--twitter" href="https://twitter.com/{{ author.twitter }}" rel="author">{{ author.twitter }}</a></li>{% endif %}
            {% if author.github %}<li class="fa fa-github-alt"><a class="author--rels--github" href="https://github.com/{{ author.github }}" rel="author">{{ author.github }}</a></li>{% endif %}
        </ul>
        {% endif %}
        {% endif %}
    </header>

    {% if include.articles %}
    <h3 class="author-articles">Articles by {{ author.name | truncatewords:1,"" }}</h3>

    {% for post in site.posts %}
      {% if post.author contains author.slug %}
        {% include postSummary.html fullSummary=true %}
      {% endif %}
    {% endfor %}

    {% endif %}
</section>
