<section class="author">
    <a name="{{ key }}"></a>
    {% if author.image %}
     {% if page.className != 'authors' %}<a href="/authors#{{ key }}">{% endif %}
         <img class="author--image" src="/images/authors/{{ author.image }}" alt="{{ author.name }}">
     {% if page.className != 'authors' %}</a>{% endif %}
    {% endif %}

    <header>
        <h1>
            {% if page.className != 'authors' %}<a href="/authors#{{ key }}">{% endif %}
                {{ author.name }}
            {% if page.className != 'authors' %}</a>{% endif %}
        </h1>
        <h4>{{ author.role }}{% if author.tribe %} · {{ author.tribe }} Tribe{% endif %}</h4>

        {% if author.startDate %}
        <h4>Working at Sky Betting &amp; Gaming since {{ author.startDate | date: '%Y' }}</h4>
        {% endif %}

        <p class="bio">{{ author.bio }}</p>

        {% if author.interests %}
        <ul class="author--interests fa fa-heart">
            {% assign interests=author.interests | split:"," %}
            {% for interest in interests %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if author.twitter or author.github %}
        <ul class="author--rels">
            {% if author.twitter %}<li class="fa fa-twitter"><a class="author--rels--twitter" href="https://twitter.com/{{ author.twitter }}" rel="author">{{ author.twitter }}</a></li>{% endif %}
            {% if author.github %}<li class="fa fa-github-alt"><a class="author--rels--github" href="https://github.com/{{ author.github }}" rel="author">{{ author.github }}</a></li>{% endif %}
        </ul>
        {% endif %}
    </header>


    {% if page.className == 'authors' %}
    <h3 class="author-articles">Articles by {{ author.name | truncatewords:1,"" }}</h3>

    {% for post in site.posts %}
      {% if post.author contains key %}
        {% include postSummary.html %}
      {% endif %}
    {% endfor %}

    {% endif %}
</section>
