		</main>
		<aside>
			<p><span class="strong">At Sky Betting and Gaming</span> we bring the excitement of Sports Betting, Casino Games, Poker and Bingo to millions of customers in the UK. We are a modern technology-led company with a 200+ strong engineering team based in Leeds and Sheffield working in small autonomous service teams.</p>
			<div class="authors">
				<h3>Our Contributors</h3>
				<ul>
				{% for author in site.authors %}
				{% unless author.endDate %}
				{% if author.image %}
					<li class="author--image" title="{{ author.name }}">
						<a href="{{ author.url }}">
							<img src="/images/authors/{{ author.image }}" alt="Image of {{ author.name }}">
						</a>
					</li>
				{% endif %}
				{% endunless %}
				{% endfor %}
				</ul>
			</div>
		</aside>
		<footer class="main">
			<div>
			<h3>About Sky Betting &amp; Gaming</h3>
			<p>Our stack is a diverse mix of open source software and includes Node.js, PHP, Java &amp; Scala, Ruby, MySQL, Couchbase, Mongo, Redis, Hadoop and RabbitMQ. We manage over 4000 virtual and physical machines across 5 data centres using Chef &amp; Ansible, and we’re proud of our operational service record in the face of strong year-on-year growth in our customer base.</p>
			</div>
			<div>
			<h3>Before you go&hellip;</h3>
			<ul>
				<li>Want more? <a href="/">Browse all articles by SB&amp;G</a></li>
				<li>Follow us by <a href="/feed.xml" class=feed>subscribing to our ATOM feed</a></li>
				<li>Ready for a challenge? <a href="http://skybetcareers.com/">Get in touch, we&rsquo;re hiring</a></li>
				<li>View our <a href="https://github.com/skybet">GitHub</a> page</li>
			</ul>
			</div>
		</footer>
		</div>
	</body>
</html>
