<footer>
    <section class="more-info">
        <div class="grid">
            <div class="grid-xs-s-1-1 grid-m-xl-2-3">
                <h3>About Sky Betting &amp; Gaming</h3>
                <p>Our stack is a diverse mix of open source software and includes Node.js, PHP, Java &amp; Scala, Ruby, MySQL, Couchbase, Mongo, Redis, Hadoop and RabbitMQ. We manage over 4000 virtual and physical machines across 5 data centres using Chef &amp; Ansible, and we&rsquo;re proud of our operational service record in the face of strong year-on-year growth in our customer base.</p>
            </div>
            <div class="grid-xs-s-1-1 grid-m-xl-1-3">
                <h3>Before you go&hellip;</h3>
                <ul>
                    <li>Want more? <a href="/">Browse all articles by SB&amp;G</a></li>
                    <li>Follow us by <a href="/feed.xml" class=feed>subscribing to our ATOM feed</a></li>
                    <li>Ready for a challenge? <a href="http://skybetcareers.com/">Get in touch, we&rsquo;re hiring</a></li>
                    <li>View our <a href="https://github.com/skybet">GitHub</a> page</li>
                </ul>
            </div>

        </div>
    </section>
    <section class="products">
        <div class="grid">
            <div class="grid-1-1 products--wrap">
                <div class="cross-product  flexbox">
                    <h4>Our Products</h4>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://www.skybet.com">
                        <img src="/images/logos/logo-cross-sky-bet.png" alt="Sky Bet" class="cross-product__item--stdlogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://www.skyvegas.com">
                        <img src="/images/logos/logo-cross-sky-vegas.png" alt="Sky Vegas" class="cross-product__item--stdlogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://www.skycasino.com">
                        <img src="/images/logos/logo-cross-sky-casino.png" alt="Sky Casino" class="cross-product__item--stdlogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://m.skypoker.com">
                        <img src="/images/logos/logo-cross-sky-poker.png" alt="Sky Poker" class="cross-product__item--stdlogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://www.skybingo.com">
                        <img src="/images/logos/logo-cross-sky-bingo.png" alt="Sky Bingo" class="cross-product__item--stdlogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://super6.skysports.com">
                        <img src="/images/logos/logo-cross-super6.png" alt="Super6" class="cross-product__item--biglogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://fantasyfootball.skysports.com/">
                        <img src="/images/logos/logo-cross-fantasy-football.png" alt="Fantasy Football" class="cross-product__item--biglogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://fantasysixaside.skysports.com">
                        <img src="/images/logos/logo-cross-FSAS-white.png" alt="Fantasy Six-a-Side" class="cross-product__item--biglogo">
                    </a>
                    <a class="flexbox__item  cross-product__item  cross-product__item--link" href="https://itv7.itv.com">
                        <img src="/images/logos/logo-cross-pick-7-itv.png" alt="Pick 7" class="cross-product__item--biglogo">
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>
