<header class="page{% if page.fixedHeader %} headFixed{% endif %}">

    <nav class="sticky">

        <div class="page-title">
            <a href="/">
            <svg class="sbg-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="/images/logos/skybettingandgaming.svg#logo"></use>
            </svg>
            </a>
        </div>

        <div class="mobile-menu">
            <a class="trigger hide-s-xl">
                <svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">
                    <g class="icon icon--grid">
                        <rect x="0" y="0" width="60" height="10"/>
                        <rect x="0" y="23" width="60" height="10"/>
                        <rect x="0" y="45.5" width="60" height="10"/>

                    </g>
                    <g class="icon icon--cross">
                        <line x1="4.5" y1="55.5" x2="54.953" y2="5.046"/>
                        <line x1="54.953" y1="55.5" x2="4.5" y2="5.047"/>
                    </g>
                </svg>
            </a>
        </div>

        <div class="page-links">
            {% assign nav = (site.pages | where: "nav",true | sort: "nav_weight") %}
            <ul>
            {% for node in nav %}
                <li class="{{node.nav_class}}">
                    {% if page.url == node.url %}
                        <a href="{{node.url}}" class="btn btn--primary current">{{node.nav_title}}</a>
                    {% else %}
                        <a href="{{node.url}}" class="btn btn--primary {{node.nav_class}}">{{node.nav_title}}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="social">
            <ul class="social-list">
                <li><a class="fa fa-twitter" href="https://twitter.com/SBGEngineers"></a></li>
                <li><a class="fa fa-github-alt" href="https://github.com/skybet"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com/company/sky-betting-and-gaming"></a></li>
            </ul>
        </div>

    </nav>
</header>
