{% assign minutes = post.content | number_of_words | divided_by: 120 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<article>
	<header class="post">
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	</header>
	<main class="post">
		{% if post.image and include.fullSummary %}
		<div class="post-image" style="background-image: url('/images/{{ post.image }}');">
			<a href="{{ post.url }}"></a>
		</div>
		{% endif %}

		{% if post.summary %}
		{{ post.summary | markdownify }}
		{% endif %}
	</main>
		<p class="metadata">Posted on <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%-d %b %Y" }}</time> {% if post.author == empty %}
			            No author
				                {% else %} by 
						              {% for a in post.author %}
							                      {% assign author=site.authors | where:"slug",a | first %}
									                      {% if forloop.first %}{% elsif forloop.last %} and {% else %}, {% endif %}
											                      <a href="{{ author.url }}">{{ author.name }}</a>{% endfor %}{% endif %} · {% for data_category in site.data.categories %}{% if data_category.name == post.category %}<a href="/category/{{ data_category.slug }}/">{{ post.category }}</a>{% endif %}{% endfor %} · {{ minutes }} min read</p>
</article>
