
// Buttons
// -------------------------------------------------------------------------------

.btn {
    padding: 10px 18px;
    border: none;
    position: relative;
    display: block;
    display: inline-block;
    text-decoration: none;
    font-family: $SkyRegular;
    font-size: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer!important;
    margin-bottom: 4px;
    transition: all 1s ease;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        transition: all 0.75s ease 0s;
    }

    &:hover {
        cursor: pointer;
    }

    &.btn--default {
        border: 2px solid $color-default;
        color: $color-default;
        padding: 8px 18px;

        &:hover {
            border: 2px solid darken($color-default, 5%);
            color: darken($color-default, 5%);
        }
    }
    &.btn--primary {
        border: 2px solid $color-default;
        padding: 8px 18px;

        &:after {
            background: darken($color-default, 5%);
            opacity: .5;
            transform: translateY(-50%) translateX(-50%) rotate(90deg);
        }

        &:hover {
            color: $color-light;

            &:after {
                opacity: 1;
                height: 1500%;
            }
        }
    }

    &.btn--disabled {
        border: 2px solid $color-darkGrey;
        color: $color-darkGrey;
        pointer-events: none;
        opacity: 0.6;

        &:hover {
            background: $color-darkGrey;
        }
    }

    &.btn--xsmall {
        font-size: 70%;
        padding: 4px 12px;
    }

    &.btn--small {
        font-size: 85%;
        padding: 7px 15px;

        &.btn--default {
            padding: 5px 13px;
        }
    }

    &.btn--large {
        font-size: 110%;
        padding: 12px 26px;
    }

    &.btn--xlarge {
        font-size: 125%;
        padding: 14px 30px;
    }

    &.btn--block {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// Button group
// -------------------------------------------------------------------------------

.btn--group {
    > .btn {
        position: relative;
        float: left;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}

// Justified button groups
// -------------------------------------------------------------------------------

.btn--group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;

    > .btn {
        float: none;
        display: table-cell;
        width: 100%;
        text-align: center;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}
