/* $VARIABLES */
/* font-url variable for the location of the raw font files */
$font-url: "public/assets/fonts"!default;

@font-face {
    font-family: SkyRegular;
    src: url("#{$font-url}/sky/skyreg-webfont.eot");
    src: local("â˜º"),url("#{$font-url}/sky/skyreg-webfont.woff") format("woff"),url("#{$font-url}/sky/skyreg-webfont.ttf") format("truetype"),url("#{$font-url}/sky/skyreg-webfont.svg#SkyRegular") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: SkyMedium;
    src: url("#{$font-url}/sky/skymed-webfont.eot");
    src: local("â˜º"),url("#{$font-url}/sky/skymed-webfont.woff") format("woff"),url("#{$font-url}/sky/skymed-webfont.ttf") format("truetype"),url("#{$font-url}/sky/skymed-webfont.svg#SkyMedium") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: SkyBold;
    src: url("#{$font-url}/sky/skybold-webfont.eot");
    src: local("â˜º"),url("#{$font-url}/sky/skybold-webfont.woff") format("woff"),url("#{$font-url}/sky/skybold-webfont.ttf") format("truetype"),url("#{$font-url}/sky/skybold-webfont.svg#SkyBold") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Skycons;
    src: url("#{$font-url}/skycons/skycons-2.0.13.eot");
    src: local("â˜º"),url("#{$font-url}/skycons/skycons-2.0.13.woff") format("woff"),url("#{$font-url}/skycons/skycons-2.0.13.ttf") format("truetype"),url("#{$font-url}/skycons/skycons-2.0.13.svg#Skycons") format("svg");
    font-weight: normal;
    font-style: normal;
}

$SkyRegular: 'SkyRegular', Arial, Verdana, sans-serif;
$SkyMedium: 'SkyMedium', Arial, Verdana, sans-serif;
$SkyBold: 'SkyBold', 'Arial Bold', Arial, Verdana, sans-serif;

/* probably need to find a better place for all this */
.icon {
    display:inline-block;
    line-height:1;
    position:relative;
    zoom:1;
    font-family: Skycons;
    font-size: inherit;
    font-style:normal;
    font-weight:normal;
    text-align:center;
    width:1em;
    height:1em;

    &:before{
        content:attr(data-icon);
    }
}

.icon--normal { @include font-size-em(16); }
.icon--medium   { @include font-size-em(24); }
.icon--large   { @include font-size-em(48); }
.icon--huge    { @include font-size-em(72); }
.icon--small   { @include font-size-em(12); }
.icon-text > .icon-text__icon{
    margin-right:0.4em;
}
.icon-text--rev > .icon-text__icon{
    margin-left:0.4em;
}


/* Code blocks */
pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    word-wrap: break-word;
    padding: 1em;
    background-color: white;
    font-size: 0.8em;
}

// Truncate with mixin

@mixin truncate($width: 10vw) {
    max-width: $width;
}
.truncate {
    @include truncate();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

