form.styled{
    padding: 20px;
    background: white;

    fieldset{
        border: none;
    }
    legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        background: rgba(255,255,255,.1);
        border: none;
        font-size: 16px;
        margin: 0;
        outline: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        background-color: #e8eeef;
        color:#8a97a0;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
        float: left;
        margin-right: 10px;

    }

    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="email"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    textarea:focus,
    select:focus {
        background: #d2d9dd;
    }

    select{
        // -webkit-appearance: menulist-button;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }

    input[type="submit"],
    input[type="button"] {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #1abc9c;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #16a085;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
    }
    input[type="submit"]:hover,
    input[type="button"]:hover {
        background: #109177;
    }

    .last {
        margin-bottom: 30px;
    }
}
