/* $VARIABLES */
/* namespace for grid classes variable */
$grid-prefix:           "grid-"!default;

/* media-query start variables */
$s-start-breakpoint:    530;
$m-start-breakpoint:    800!default;
$l-start-breakpoint:    1000!default;
$xl-start-breakpoint:   1200!default;
$site-width-limit:      1400!default;

/* GRID SYSTEM */
/* Grid widths for 1,2,3,4,5,6,8,10,11,12,24 splits */
.grid {
    list-style: none;
    margin-bottom: 0;
    letter-spacing: -.31em;
}
@mixin grid__item() {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

@mixin grid-setup($namespace: "grid-") {
    /* 1 spacing */
    .#{$namespace}1-1, .#{$namespace}1, .#{$namespace}24-24 {
        @include grid__item();
        width: 100%;
    }

    /* 2 spacing */
    .#{$namespace}1-2 {
        @include grid__item();
        width: 50%;
    }

    /* 3 spacing */
    .#{$namespace}1-3 {
        @include grid__item();
        width: 33.333%;
    }
    .#{$namespace}2-3 {
        @include grid__item();
        width: 66.666%;
    }

    /* 4 spacing */
    .#{$namespace}1-4 {
        @include grid__item();
        width: 25%;
    }
    .#{$namespace}2-4 {
        @extend .#{$namespace}1-2;
    }
    .#{$namespace}3-4 {
        @include grid__item();
        width: 75%;
    }
}
@include grid-setup($grid-prefix);

/* MEDIA-QUERY MIXIN */
$s-start: ($s-start-breakpoint / $base-font-size) * 1rem;
$m-start: ($m-start-breakpoint / $base-font-size) * 1rem;
$l-start: ($l-start-breakpoint / $base-font-size) * 1rem;
$xl-start: ($xl-start-breakpoint / $base-font-size) * 1rem;


$xs-end: $s-start - (1 / $base-font-size);
$s-end: $m-start - (1 / $base-font-size);
$m-end: $l-start - (1 / $base-font-size);
@mixin media-query($media-query) {
    @if $media-query == xs {
        @media only screen and (max-width:$xs-end) {
            @content;
        }
    }
    @if $media-query == xs-s {
        @media only screen and (max-width:$s-end) {
            @content;
        }
    }
    @if $media-query == s {
        @media only screen and (min-width:$s-start) and (max-width:$s-end) {
            @content;
        }
    }
    @if $media-query == s-m {
        @media only screen and (min-width:$s-start) and (max-width:$m-end) {
            @content;
        }
    }
    @if $media-query == s-xl {
        @media only screen and (min-width:$s-start) {
            @content;
        }
    }
    @if $media-query == xs-m {
        @media only screen and (max-width:$m-end) {
            @content;
        }
    }
    @if $media-query == m {
        @media only screen and (min-width:$m-start) and (max-width:$m-end) {
            @content;
        }
    }
    @if $media-query == m-xl {
        @media only screen and (min-width:$m-start) {
            @content;
        }
    }
    @if $media-query == l {
        @media only screen and (min-width:$l-start) {
            @content;
        }
    }
    @if $media-query == xl {
        @media only screen and (min-width: $xl-start) {
            @content;
        }
    }
}

@include media-query(xs) {
    @include grid-setup($grid-prefix + "xs-");
}
@include media-query(xs-s) {
    @include grid-setup($grid-prefix + "xs-s-");
}
@include media-query(s) {
    @include grid-setup($grid-prefix + "s-");
}
@include media-query(s-m) {
    @include grid-setup($grid-prefix + "s-m-");
}
@include media-query(s-xl) {
    @include grid-setup($grid-prefix + "s-xl-");
}
@include media-query(xs-m) {
    @include grid-setup($grid-prefix + "xs-m-");
}
@include media-query(m) {
    @include grid-setup($grid-prefix + "m-");
}
@include media-query(m-xl) {
    @include grid-setup($grid-prefix + "m-xl-");
}
@include media-query(l) {
    @include grid-setup($grid-prefix + "l-");
}
@include media-query(xl) {
    @include grid-setup($grid-prefix + "xl-");
}

/* flexbox */
.flexbox{
    display:table;
    width:100%;
}

html.flexbox{
    display:block;
    width:auto;
}

.flexbox__item{
    display:table-cell;
    vertical-align:middle;
}

/* max width limit */
$site-width-limit-rem: $site-width-limit / $base-font-size + rem;
.max-width {
    max-width: $site-width-limit-rem;
}
