 /* Add/remove floats */
.float--right {
    float: right!important;
}
.float--left {
    float: left !important;
}
.float--none {
    float: none !important;
}

/* Text alignment */
.text--left {
    text-align: left !important;
}
.text--center {
    text-align: center!important;
}
.text--right {
    text-align: right !important;
}

/* Font weights */
.weight--light {
    font-weight: 300!important;
}
.weight--normal {
    font-weight: 400!important;
}
.weight--semibold {
    font-weight: 600!important;
}

/* Help cursor */
.help {
    cursor: help!important;
}

/* Mute item by reducing opacity */
.muted {
    opacity: 0.5!important;
    filter:alpha(opacity = 50)!important;
}

/* Capitalise text */
.caps {
    text-transform: uppercase!important;
}

/* Add arrows after text */
.go:after {
    content: "\00A0" "\00BB"!important;
}

/* hide based on viewport */
@include media-query(xs) {
    .hide-xs {
        display: none!important;
    }
}
@include media-query(xs-s) {
    .hide-xs-s {
        display: none!important;
    }
}
@include media-query(s) {
    .hide-s {
        display: none!important;
    }
}
@include media-query(s-xl) {
    .hide-s-xl {
        display: none!important;
    }
}
@include media-query(xs-m) {
    .hide-xs-m {
        display: none!important;
    }
}
@include media-query(s-l) {
    .hide-s-l {
        display: none!important;
    }
}
@include media-query(m) {
    .hide-m {
        display: none!important;
    }
}
@include media-query(m-xl) {
    .hide-m-xl {
        display: none!important;
    }
}
@include media-query(l) {
    .hide-l {
        display: none!important;
    }
}
@include media-query(xl) {
    .hide-xl {
        display: none!important;
    }
}


/* clearfix */
.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

/* A simple top-to-bottom linear gradient with fallback color of our choice */
@mixin linear-gradient($start-color, $stop-color, $fallback-color){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-linear-gradient(top, $start-color 0%, $stop-color 100%); /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(top, $start-color 0%,$stop-color 100%); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(top, $start-color 0%,$stop-color 100%); /* Opera 11.10+ */
    background-image:-ms-linear-gradient(top, $start-color 0%,$stop-color 100%); /* IE10+ */
    background-image:linear-gradient(to bottom, $start-color 0%,$stop-color 100%); /* W3C */
}


/* A simple left-to-right linear gradient with fallback color of our choice */
@mixin linear-horizontal-gradient($start-color, $stop-color, $fallback-color){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-linear-gradient(left, $start-color 0%, $stop-color 100%); /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(left, $start-color 0%,$stop-color 100%); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(left, $start-color 0%,$stop-color 100%); /* Opera 11.10+ */
    background-image:-ms-linear-gradient(left, $start-color 0%,$stop-color 100%); /* IE10+ */
    background-image:linear-gradient(to right, $start-color 0%,$stop-color 100%); /* W3C */
}


/* A simple top-to-bottom linear gradient with fallback color of our choice */
@mixin linear-3-step-gradient($start-color, $mid-color, $stop-color, $fallback-color){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-linear-gradient(top, $start-color 0%, $mid-color 50%, $stop-color 100%); /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(50%,$mid-color), color-stop(100%,$stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(top, $start-color 0%,$mid-color 50%,$stop-color 100%); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(top, $start-color 0%,$mid-color 50%,$stop-color 100%); /* Opera 11.10+ */
    background-image:-ms-linear-gradient(top, $start-color 0%,$mid-color 50%,$stop-color 100%); /* IE10+ */
    background-image:linear-gradient(to bottom, $start-color 0%,$mid-color 50%,$stop-color 100%); /* W3C */
}


/* A simple left-to-right linear gradient with fallback color of our choice */
@mixin linear-3-step-horizontal-gradient($start-color, $mid-color, $stop-color, $fallback-color){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-linear-gradient(left, $start-color 0%, $mid-color 50%, $stop-color 100%); /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(50%,$mid-color), color-stop(100%,$stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(left, $start-color 0%,$mid-color 50%,$stop-color 100%); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(left, $start-color 0%,$mid-color 50%,$stop-color 100%); /* Opera 11.10+ */
    background-image:-ms-linear-gradient(left, $start-color 0%,$mid-color 50%,$stop-color 100%); /* IE10+ */
    background-image:linear-gradient(to right, $start-color 0%,$mid-color 50%,$stop-color 100%); /* W3C */
}


/**
 * Very specific but common use-cases; a two part linear gradient which starts
 * at a specified color, ends halfway at a specified color, resumes halfway at
 * a specified color and terminates at a specified color. Also with fallback.
 *
 * Example usage is on market table headers:
 *
   `@include linear-split-gradient(#fff, #fff, #f5f7fa, #ebeff5, #ebeff5);`
 *
 * This gives us a nice glossy looking background.
 */
@mixin linear-split-gradient($begin-start-color, $end-start-color, $begin-stop-color, $end-stop-color, $fallback-color){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-linear-gradient(top, $begin-start-color 0%, $end-start-color 50%, $begin-stop-color 50%, $end-stop-color 100%); /* FF3.6+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,$begin-start-color), color-stop(50%,$end-start-color), color-stop(50%,$begin-stop-color), color-stop(100%,$end-stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-linear-gradient(top, $begin-start-color 0%,$end-start-color 50%,$begin-stop-color 50%,$end-stop-color 100%); /* Chrome10+,Safari5.1+ */
    background-image:-o-linear-gradient(top, $begin-start-color 0%,$end-start-color 50%,$begin-stop-color 50%,$end-stop-color 100%); /* Opera 11.10+ */
    background-image:-ms-linear-gradient(top, $begin-start-color 0%,$end-start-color 50%,$begin-stop-color 50%,$end-stop-color 100%); /* IE10+ */
    background-image:linear-gradient(to bottom, $begin-start-color 0%,$end-start-color 50%,$begin-stop-color 50%,$end-stop-color 100%); /* W3C */
}


/* A simple centre-out radial gradient with fallback color of our choice */
@mixin radial-gradient($start-color, $stop-color, $fallback-color, $shape-size: 100%){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-radial-gradient(center, ellipse cover, $start-color 0%, $stop-color $shape-size); /* FF3.6+ */
    background-image:-webkit-gradient(radial, center center, 0px, center center, $shape-size, color-stop(0%,$start-color), color-stop($shape-size,$stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-radial-gradient(center, ellipse cover, $start-color 0%,$stop-color $shape-size); /* Chrome10+,Safari5.1+ */
    background-image:-o-radial-gradient(center, ellipse cover, $start-color 0%,$stop-color $shape-size); /* Opera 12+ */
    background-image:-ms-radial-gradient(center, ellipse cover, $start-color 0%,$stop-color $shape-size); /* IE10+ */
    background-image:radial-gradient(ellipse at center, $start-color 0%,$stop-color $shape-size); /* W3C */
}


/* A centre-out radial gradient with an intermediate color and fallback color of our choice */
@mixin three-step-radial-gradient($start-color, $middle-color, $stop-color, $fallback-color, $start-per: 0%, $mid-per: 50%, $stop-per: 100%){
    background-color:$fallback-color; /* Old browsers */
    background-image:-moz-radial-gradient(center, ellipse cover, $start-color $start-per, $middle-color $mid-per, $stop-color $stop-per); /* FF3.6+ */
    background-image:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($start-per,$start-color), color-stop($mid-per,$middle-color), color-stop($stop-per,$stop-color)); /* Chrome,Safari4+ */
    background-image:-webkit-radial-gradient(center, ellipse cover, $start-color $start-per,$middle-color $mid-per,$stop-color $stop-per); /* Chrome10+,Safari5.1+ */
    background-image:-o-radial-gradient(center, ellipse cover, $start-color $start-per,$middle-color $mid-per,$stop-color $stop-per); /* Opera 12+ */
    background-image:-ms-radial-gradient(center, ellipse cover, $start-color $start-per,$middle-color $mid-per,$stop-color $stop-per); /* IE10+ */
    background-image:radial-gradient(ellipse at center, $start-color $start-per,$middle-color $mid-per,$stop-color $stop-per); /* W3C */
}


/* border radius */

@mixin border-radius($tl, $tr, $br, $bl) {
    @include vendor(border-radius, $tl $tr $br $bl);
}

@mixin border-radius-left($r) {
    @include border-radius($r, 0, 0, $r);
}

@mixin border-radius-right($r) {
    @include border-radius(0, $r, $r, 0);
}

@mixin border-radius-top($r) {
    @include border-radius($r, $r, 0, 0);
}

@mixin border-radius-bottom($r) {
    @include border-radius(0, 0, $r, $r);
}

@mixin border-radius-children($r) {
    &:first-child {
        @include border-radius-left($r);
    }

    &:last-child {
        @include border-radius-right($r);
    }
}

/* box shadows */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:#{$inset} $top $left $blur $color;
  -moz-box-shadow:#{$inset} $top $left $blur $color;
  -ms-box-shadow:#{$inset} $top $left $blur $color;
  -o-box-shadow:#{$inset} $top $left $blur $color;
  box-shadow:#{$inset} $top $left $blur $color;
}