 /* Add/remove floats */
.float--right {
    float: right!important;
}
.float--left {
    float: left !important;
}
.float--none {
    float: none !important;
}

/* Text alignment */
.text--left {
    text-align: left !important;
}
.text--center {
    text-align: center!important;
}
.text--right {
    text-align: right !important;
}

/* Font weights */
.weight--light {
    font-weight: 300!important;
}
.weight--normal {
    font-weight: 400!important;
}
.weight--semibold {
    font-weight: 600!important;
}

/* Help cursor */
.help {
    cursor: help!important;
}

/* Mute item by reducing opacity */
.muted {
    opacity: 0.5!important;
    filter:alpha(opacity = 50)!important;
}

/* Capitalise text */
.caps {
    text-transform: uppercase!important;
}

/* Add arrows after text */
.go:after {
    content: "\00A0" "\00BB"!important;
}

/* hide based on viewport */
@include media-query(xs) {
    .hide-xs {
        display: none!important;
    }
}
@include media-query(xs-s) {
    .hide-xs-s {
        display: none!important;
    }
}
@include media-query(s) {
    .hide-s {
        display: none!important;
    }
}
@include media-query(s-xl) {
    .hide-s-xl {
        display: none!important;
    }
}
@include media-query(xs-m) {
    .hide-xs-m {
        display: none!important;
    }
}
@include media-query(s-l) {
    .hide-s-l {
        display: none!important;
    }
}
@include media-query(m) {
    .hide-m {
        display: none!important;
    }
}
@include media-query(m-xl) {
    .hide-m-xl {
        display: none!important;
    }
}
@include media-query(l) {
    .hide-l {
        display: none!important;
    }
}
@include media-query(xl) {
    .hide-xl {
        display: none!important;
    }
}


/* clearfix */
.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}
