.post {
    background: $color-whtrans;
    padding: $base-line/2 $base-line*2;
    margin: $base-line $base-line/2 $base-line $base-line;
    box-sizing: border-box;
    position: relative;

    .details & {
        margin: $base-line $base-line/2 $base-line 0;
        padding: $base-line/2 $base-line;

        @include media-query(xs-s) {
            margin: $base-line/2 0 $base-line 0;
        }

        header {
            padding: 0 80px 0 0;
            border-bottom: 1px solid $color-default;
            margin-bottom: $base-line*0.5;

            @include media-query(xs-s) {
                padding: 0 60px 0 0;
            }

            h1 {
                margin-bottom: $h1-margin-bottom / 2;
                @include gradient-text();
                display: inline-block;
            }
        }
    }

    @include media-query(xs-s) {
        margin: $base-line*1.5 0 $base-line*2 0;
        padding: $base-line/2;
    }

    @include media-query(xl) {
        margin: $base-line $base-line/2 $base-line 0;
    }

    h2 {
        border-bottom: 1px solid $color-default;
        margin-top: $base-line/2;

        a {
            text-decoration: none;
            display: inline-block;
            @include gradient-text();
        }
    }

    .image {
        height: $base-line*10;
        background-size: cover;
        background-position: center;
        border: 1px solid darken($color-highlight, 10%);

        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .date {
        background: $color-default;
        background: linear-gradient(135deg, $color-default 20%, $color-primary 100%);
        border-radius: 100%;
        width: 80px;
        height: 80px;
        position: absolute;
        top: $base-line;
        left: -40px;
        color: $color-light;

        .details & {
            right: 0;
            left: auto;
            top: -5px;
        }

        .day, .month {
            display: block;
            text-align: center;
            text-transform: uppercase;
        }

        .day {
            font-family: $SkyBold;
            font-size: 34px;
            margin: 18px auto 4px;
        }
        .month {
            font-size: 14px;
        }

        @include media-query(xs-s) {
            width: 60px;
            height: 60px;
            top: -40px;
            left: 10px;

            .day {
                font-size: 28px;
                margin: 10px auto 0;
            }
            .month {
                font-size: 13px;
                margin-top: -4px;
            }
        }
    }

    .post--category {
        display: block;
        a {
            background-color: $color-highlight;
            border-radius: 3px;
            padding: $base-line/4 $base-line/2;
            display: inline-block;
            margin-bottom: $base-line/2;
        }
    }

    .cta {

        div {

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }

        header {
            font-family: $SkyBold;
            font-style: italic;
            color: $color-default;
        }
    }
}

.jobs, .not-found {
    @extend .post;

    margin-top: $base-line;
    margin-bottom: $base-line;

    .area {
        display: flex;
        padding: 0;

        @include media-query(m-xl) {
            padding: 0 10px 0 0;

            &:nth-of-type(2n) {
                padding: 0 0 0 10px;
            }
        }

        h4 {
            margin: -12px -12px 12px -12px;
            text-transform: uppercase;
            background: $color-highlight;
            padding: 6px 10px;
        }

        .post {
            width: 100%;
            margin: 0 0 $base-line 0;
            padding: $base-line/2;

            h1 {
                @include gradient-text();
                display: inline-block;
            }
        }

        ul {
            list-style: none;
            margin: 0;

            @include media-query(l) {
                &.split-columns {
                    column-count: 2;
                }
            }

            li {
                display: block;
                margin: 0;
            }
        }
    }
}

.svg-holder {
    height: 30em;
    margin-bottom: 3em;

    @include media-query(xs) {
        height: 15em;
    }

    @include media-query(xl) {
        height: 50em;
        margin-bottom: 0;
    }


    svg.git-pr-workflow {
        width: 100%;
        height: 100%;
    }
}

.category {
    margin-top: $base-line/2;
}

.wrap-break {
    word-wrap: break-word;
}
