
.post {
    background: $color-whtrans;
    padding: 10px 50px;
    margin: 30px 10px 30px 30px;
    box-sizing: border-box;
    position: relative;

    .details & {
        margin: 30px 10px 30px 0;
        padding: 10px 20px;

        @include media-query(xs-s) {
            margin: 10px 0 20px 0;
        }

        header {
            padding: 0 80px 0 0;
            min-height: 100px;
            border-bottom: 1px solid $color-default;
            margin-bottom: 0.5em;
        }
    }

    @include media-query(xs-s) {
        margin: 50px 0 30px 0;
        padding: 10px;
    }

    @include media-query(xl) {
        margin: 30px 10px 30px 0;
    }

    h2 {
        border-bottom: 1px solid $color-default;
        padding-bottom: 10px;

        a { text-decoration: none;}
    }

    .image {
        height: 200px;
        background-size: cover;
        background-position: center;
        border: 1px solid darken($color-highlight, 10%);
    }

    .date {
        background: $color-default;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 20px;
        left: -40px;
        color: $color-light;

        @include media-query(xs-s) {
            left: 10px;
            top: -40px;
        }

        .details & {
            right: 0;
            left: auto;
            top: 10px;
        }

        .day, .month {
            display: block;
            text-align: center;
            text-transform: uppercase;
        }
        .day {
            font-family: $SkyBold;
            font-size: 34px;
            margin: 18px auto 4px;
        }
        .month {
            font-size: 14px;
        }
    }

    .post--category {
        background-color: $color-default;
        display: block;
        position: absolute;
        right: 0;
        color: white;
        padding: 0 0.25em;
    }

    .cta {

        div {

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }

        header {
            font-family: $SkyBold;
            font-style: italic;
            color: $color-default;
        }
    }
}
