

/* TRANSITIONS MIXIN */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* ANIMATION MIXIN */
@mixin keyframe ($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-ms-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}


@-webkit-keyframes anim {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}
@keyframes anim {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}

@mixin gradient-text {
    color: $color-default;

    @supports (-webkit-background-clip: text) {
        background: linear-gradient(to right, $color-default 0%, $color-primary 100%);
        background-size: 120% 120%;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
