html {
    width: 100%;
    min-height: 100%;
}

body {
    color: $color-default;
    background-image: url('/images/bg/page-bg.png');
    background-position: top center;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 24px;
    font-family: $SkyRegular;

    display: flex;
    width: 100%;
    flex-direction: column;

    &.headFixed {
        article.article:before, main.list:before {
            content: "";
            display: block;
            height: 430px;

            @include media-query(xs-s) {
                height: 220px;
            }
        }
    }
}

.hide {
    display: none!important;
}

.grid, .grid [class *="grid-"] {
    box-sizing: border-box;
    position: relative;
}
.grid  {
    padding: 10px;
    width: 100%;
    margin: 0 auto;

    &.nopadding {
        padding: 0;
    }

    @include media-query(m-xl) {
        max-width: 1200px;
    }
    @include media-query(xl) {
        padding: 0;
    }
    [class *="grid-"] {
        padding: 0 10px;
    }
}

.pull--right {
    float: right;
}

.pull--left {
    float: left;
}

a {
    color: $color-default;

    &:hover {
        color: darken($color-default, 20%);
    }
}

main, article {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;

    img {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}

aside {
    .about, .meet-author, .twitter-container {
        background: $color-whtrans;
        padding: 10px 20px;
        margin: $base-margin-top 0;
        box-sizing: border-box;

        @include media-query(xs-s) {
            margin: 0 0 $base-margin-top/2;
        }

        h2 {
            border-bottom: 1px solid $color-default;
            padding-bottom: 10px;
        }

        h2 a, h3 a {
            text-decoration: none;
        }
    }
    @include media-query(xs-s) {
        .meet-author {
            margin: 0 0 $base-margin-top/2;
        }
    }
    .meet-author.all {
        .author--image {
            width: 30%;
            float: none;
            display: inline-block;
            margin-bottom: $base-line/2;
            margin-right: 2%;

            @include media-query(s) {
                width: 17%;
            }
            @include media-query(xs) {
                width: 22%;
            }
        }
    }
}

.meet-author {
    .author--image {
        width: 100px;
        float: left;
        margin-right: 10px;
        margin-bottom: $base-line;
    }

    header {

        h1 {
            font-size: 20px;
        }
        h4 {
            font-weight: 100;
        }
        h1, h4{
            margin: 0;
            padding: 0;
        }
        p, ul {
            margin: 0 0 $base-line/2;
        }
        p {
            clear: left;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 24px;
    }

    .author--interests {

        li {
            display: inline;
            font-family: $SkyRegular;

            &:after {
                content: ",";
            }

            &:last-of-type:after {
                content: ".";
            }
        }
    }
    .author--rels {
        li {
            margin-right: $base-line/2;

            &:before {
                margin-right: 6px;
                font-size: 16px;
            }
        }

        a {
            font-family: $SkyRegular;
        }
    }
    h3.author-articles {
        padding-top: $h3-line;
        border-top: 1px solid $color-default;
    }
}

.authors-page {
    margin-top: -370px;

    @include media-query(xs-s) {
        margin-top: -170px;
    }

}
.authors {
    margin: $base-line 0;
    box-sizing: border-box;

    .author-section {
        background: $color-whtrans;
        padding: $base-line $base-line $base-line/2;
        margin: 0 0 $base-line 0;
        box-sizing: border-box;

        .post {
            padding: $base-line/2;
            margin: $base-line 0;

            h2 {
                margin-top: 0;
                margin-right: $base-line*2;
            }
            .date {
                top: $base-line/2;
                right: $base-line/2;
                left: auto;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        .image {
            display: none;
        }
        .flex.cta {
            border: none;
            margin: 0;

            .author, .read {
                display: none;
            }
            .categories {
                background-color: $color-highlight;
                border-radius: 3px;
                padding: $base-line/4 $base-line/2;
                flex: none;
                border: none;
                width: auto;

                header {
                    display: none;
                }
            }
        }
    }
}


.flex {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

    .flex-item {
        flex: 1;
        flex-grow: 1;
    }

    &.cta {
        border-width: 1px 0;
        border-style: solid;
        border-color: $color-default;
        margin: 30px 0;

        .flex-item {
            padding: 10px;
            width: 20%;
            border-right: 1px solid $color-default;
        }
    }
}

.flex--center {
    align-items: center;
}

.comments {
    background: linear-gradient(135deg, rgba(0, 27, 92, 0.12) 0%, rgba(178, 8, 28, 0.12) 100%);
    color: $color-default;
    padding: 20px 0;

    a.publisher-anchor-color {
        color: #001b5c!important;
    }
}

footer {
    overflow: hidden;

    a {
        color: $color-light;

        &:hover {
            color: darken($color-light, 20%);
        }
    }

    .more-info {
        background: $color-default;
        color: $color-light;
        padding-top: $base-margin-top;
    }

    .products {
        padding: 10px 0 0px;
        background: $color-dark;
        color: $color-light;

        h4 {
            min-width: 100px;
            margin-top: 10px;
        }

        &--wrap {
            margin-bottom: -30px;
            overflow-y: none;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .cross-product__item--stdlogo {
            height: 14px;
        }
        a.flexbox__item.cross-product__item.cross-product__item--link {
            padding: 6px 15px 35px;
        }
    }
}
