.related-posts {
    background: $color-whtrans;
    margin: $base-line $base-line/2 $base-line 0;
    padding: $base-line/2 $base-line;

    @include media-query(xs-s) {
        margin-right: 0;
        padding: $base-line/2;
    }

    .column {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .related-post {
        break-inside: avoid;
        margin: 0 0 1em;

        @include media-query(xs-s) {
            padding: $base-line/2;
        }

        h2 {
            margin-top: 0;
            padding-right: 60px;
            font-size: $h3-font-size;
            line-height: $h3-line-height;
            margin-bottom: $h3-margin-bottom;
            min-height: 60px;

            @include media-query(xs-s) {
                font-size: $h3-font-size * .9;
                line-height: $h3-line-height * .9;
                margin-bottom: $h3-margin-bottom * .9;
                padding-right: 55px;
            }
        }

        .date {
            right: 5px;
            top: 5px;
        }

        header {
            margin: 0;
            border: none;
        }

        p {
            margin-bottom: $base-line * .5;
        }

        .flex.cta {
            @include media-query(xs-s) {
                margin: 10px 0;
            }
        }
    }

    .page-title {
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-size: $h2-font-size;
        line-height: $h2-line-height;
        font-family: $SkyMedium;
        @include gradient-text();

        @include media-query(xs-s) {
            font-size: $h3-font-size;
            line-height: $h3-line-height;
        }
    }
}
