/* $VARIABLES */
/* base spacing unit variables */
$base-font-size:    16!default;
$base-line-height:  24!default;

/* Spacing unit helpers */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

/**
 * Add/remove margins
 */
.margin           { margin:       $base-spacing-unit!important; }
.margin--top      { margin-top:   $base-spacing-unit!important; }
.margin--right    { margin-right: $base-spacing-unit!important; }
.margin--bottom   { margin-bottom:$base-spacing-unit!important; }
.margin--left     { margin-left:  $base-spacing-unit!important; }
.margin--ends     { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
.margin--sides    { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

.margin-1-2          { margin:       $half-spacing-unit!important; }
.margin-1-2--top     { margin-top:   $half-spacing-unit!important; }
.margin-1-2--right   { margin-right: $half-spacing-unit!important; }
.margin-1-2--bottom  { margin-bottom:$half-spacing-unit!important; }
.margin-1-2--left    { margin-left:  $half-spacing-unit!important; }
.margin-1-2--ends    { margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
.margin-1-2--sides   { margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }

.margin-1-4          { margin:       $half-spacing-unit/2!important; }
.margin-1-4--top     { margin-top:   $half-spacing-unit/2!important; }
.margin-1-4--right   { margin-right: $half-spacing-unit/2!important; }
.margin-1-4--bottom  { margin-bottom:$half-spacing-unit/2!important; }
.margin-1-4--left    { margin-left:  $half-spacing-unit/2!important; }
.margin-1-4--ends    { margin-top:   $half-spacing-unit/2!important; margin-bottom:$half-spacing-unit/2!important; }
.margin-1-4--sides   { margin-right: $half-spacing-unit/2!important; margin-left:  $half-spacing-unit/2!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
.padding           { padding:       $base-spacing-unit!important; }
.padding--top      { padding-top:   $base-spacing-unit!important; }
.padding--right    { padding-right: $base-spacing-unit!important; }
.padding--bottom   { padding-bottom:$base-spacing-unit!important; }
.padding--left     { padding-left:  $base-spacing-unit!important; }
.padding--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }
.padding--sides    { padding-right: $base-spacing-unit!important; padding-left:  $base-spacing-unit!important; }

.padding-1-2           { padding:       $half-spacing-unit!important; }
.padding-1-2--top      { padding-top:   $half-spacing-unit!important; }
.padding-1-2--right    { padding-right: $half-spacing-unit!important; }
.padding-1-2--bottom   { padding-bottom:$half-spacing-unit!important; }
.padding-1-2--left     { padding-left:  $half-spacing-unit!important; }
.padding-1-2--ends     { padding-top:   $half-spacing-unit!important; padding-bottom:$half-spacing-unit!important; }
.padding-1-2--sides    { padding-right: $half-spacing-unit!important; padding-left:  $half-spacing-unit!important; }

.padding-1-4           { padding:       $half-spacing-unit/2!important; }
.padding-1-4--top      { padding-top:   $half-spacing-unit/2!important; }
.padding-1-4--right    { padding-right: $half-spacing-unit/2!important; }
.padding-1-4--bottom   { padding-bottom:$half-spacing-unit/2!important; }
.padding-1-4--left     { padding-left:  $half-spacing-unit/2!important; }
.padding-1-4--ends     { padding-top:   $half-spacing-unit/2!important; padding-bottom:$half-spacing-unit/2!important; }
.padding-1-4--sides    { padding-right: $half-spacing-unit/2!important; padding-left:  $half-spacing-unit/2!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }