---
layout:     raw
title:      Article Authors
summary:    Here are the people who have written the articles.
nav:        false
nav_title:  Authors
nav_weight: 2
className:  authors
isArticle:  false
---

<div class="meet-author">
    {% for keyedAuthor in site.data.authors %}
    {% assign key = keyedAuthor[0] %}
    {% assign author = keyedAuthor[1] %}
    {% assign articles = (site.posts | where: "author",key %}

    {% if articles != empty %}
    <div class="author-section hide">
        {% include author.html %}
    </div>
    {% endif %}
    {% endfor %}

</div>