---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 120 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<article>
 <p><a href="/">&lt; index</a></p>
 <h1>{{ page.title }}</h1>
 <p>{{ page.date | date: "%b %-d, %Y" }} · {{ minutes }} minute read</p>
 {{ content }}
</article>

<section>
 <h2>Related...</h2>
 <ul>
 {% for post in site.related_posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
 </ul>
</section>

<div id="disqus_thread"></div>
<script>
(function() {
  var disqus_shortname = 'skybet';
  var disqus_title = "{{ post.title | escape }}"
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//'+disqus_shortname+'.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

{% include footer.html %}
