---
layout: default
---
<article>
	<header class="post">
		                <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
				        </header>
	<p class="metadata">Posted on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %b %Y" }}</time> {% if page.author == empty %}
		                                    No author
						                                                    {% else %} by
												                                                                  {% for a in page.author %}
																				                                                                                {% assign author=site.authors | where:"slug",a | first %}
																														                                                                                              {% if forloop.first %}{% elsif forloop.last %} and {% else %}, {% endif %}
																																									                                                                                                                    <a href="{{ author.url }}">{{ author.name }}</a>{% endfor %}{% endif %} · {% for data_category in site.data.categories %}{% if data_category.name == page.category %}<a href="/category/{{ data_category.slug }}/">{{ page.category }}</a>{% endif %}{% endfor %}</p>
					        <main class="post">
							{{ content }}
							<hr>
						</main>
        {% if site.categories[page.category].size > 1 %}
        <div class="related-posts">
            <h3 class="page-title">Want to read more about {{ page.category }}? Check out these related articles.</h3>
                {% for post in site.categories[page.category] %}
                {% if post.title != page.title %}
                {% include postSummary.html %}
                {% endif %}
                {% endfor %}
        </div>
        {% endif %}

</article>
{% include footer.html %}
