---
layout:    default
isArticle: true
fixedHeader: true
className: post
---

{% assign minutes = content | number_of_words | divided_by: 120 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

{% if page.author %}
{% assign author = site.data.authors[page.author] %}
{% endif %}

<article class="grid article">

    <section class="grid-xs-s-1-1 grid-m-xl-2-3 details">

        <div class="post">
            <header class="grid-1-1">
                <h1>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                <div class="date">
                    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
                        <span class="day">{{ page.date | date: "%-d" }}</span>
                        <span class="month">{{ page.date | date: "%b '%y" }}</span>
                    </time>
                </div>
                {% if page.category %}
                    {% for data_category in site.data.categories %}
                        {% if data_category.name == page.category %}
                            <span class="post--category">
                                <a href="/category/{{ data_category.slug }}/">{{ page.category }}</a>
                            </span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </header>

            {{ content }}
        </div>

        {% if site.categories[page.category].size > 1 %}
        <div class="related-posts">
            <h3 class="page-title">Want to read more about {{ page.category }}? Check out these related articles...</h3>
            <div class="column">
                {% for post in site.categories[page.category] %}
                {% if post.title != page.title %}
                {% include relatedPosts.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </section>

    <aside class="grid-xs-s-1-1 grid-m-xl-1-3">

        {% assign authorCount = page.author | size %}
        {% if authorCount == 0 %}
        <!-- No author -->
        {% else %}
        <div class="meet-author">
            <h3>Meet the author</h3>
            {% for a in page.author %}
            {% assign key=a %}
            {% assign author=site.data.authors[a] %}
            {% include author.html %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="twitter-container hide-xs-s">
            <a class="twitter-timeline" href="https://twitter.com/SBGEngineers" data-widget-id="650399762827624448" data-chrome="transparent" data-tweet-limit="3">Tweets by @SBGEngineers</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
    </aside>
</article>

<section class="comments">
    <div class="grid">
        <div class="grid-1-1">
            <div id="disqus_thread"></div>
        </div>
    </div>
</section>

<script>
(function() {
  var disqus_shortname = 'skybet';
  var disqus_title = "{{ post.title | escape }}"
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//'+disqus_shortname+'.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

{% include footer.html %}
