---
layout: default
---

<main class="grid list">
    <section class="grid-xs-s-1-1 grid-m-xl-2-3">
        <div class="{{ page.className }}">
            {{ content }}
        </div>
    </section>

    <aside class="grid-xs-s-1-1 grid-m-xl-1-3">
        <div class="about">
            <h2>At Sky Betting &amp; Gaming</h2>
            <p>...we bring the excitement of Sports Betting, Casino Games, Poker and Bingo to millions of customers in the UK. We are a modern technology-led company with a 200+ strong engineering team based in Leeds and Sheffield working in small autonomous service teams.</p>
        </div>

        {% if page.className != 'authors' %}
        {% capture authors %}
          {% for keyedAuthor in site.data.authors %}
            {{ keyedAuthor[0] }}
          {% endfor %}
        {% endcapture %}
        {% assign sortedAuthors = authors | split: ' ' | sort %}

        <div class="meet-author all">
            <h3><a href="/authors/">Meet the SBG team</a></h3>

            <ul>
            {% for key in sortedAuthors %}
             {% assign author = site.data.authors[key] %}
             {% unless author.hasLeft %}
              {% if author.image %}
                  <li class="author--image" title="{{author.name}}">
                      <a href="/authors#{{ key }}">
                          <img src="/images/authors/{{ author.image }}" alt="{{ author.name }}">
                      </a>
                  </li>
              {% endif %}
             {% endunless %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="twitter-container hide-xs-s">
            <a class="twitter-timeline" href="https://twitter.com/SBGEngineers" data-widget-id="650399762827624448" data-chrome="transparent" data-tweet-limit="3">Tweets by @SBGEngineers</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
    </aside>
</main>

{% include footer.html %}
